extends layout

block scripts
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800', rel='stylesheet')
	link(rel='stylesheet', href='/css/bootstrap.css')
	link(rel='stylesheet', href='/css/animate.css')
	link(rel='stylesheet', href='/css/owl.carousel.min.css')
	link(rel='stylesheet', href='/css/aos.css')
	link(rel='stylesheet', href='/css/magnific-popup.css')
	link(rel='stylesheet', href='/fonts/ionicons/css/ionicons.min.css')
	link(rel='stylesheet', href='/fonts/fontawesome/css/font-awesome.min.css')
	link(rel='stylesheet', href='/fonts/flaticon/font/flaticon.css')
	// Theme Style
	link(rel='stylesheet', href='/css/style.css')

block content
	// END header
	.slider-wrap.no-slanted
		.slider-item(style="background-image: url('/img/og_bg.jpg');")
			.container
				.row.slider-text.align-items-center.justify-content-center
					.col-md-8.text-center.col-sm-12
						h1(data-aos='fade-up') Welcome
							if(result.name != "" && result.name != null ) 
								| , 
							| !{result.name}
						p(data-aos='fade-up', data-aos-delay='200')
							a.btn.btn-white.btn-outline-white(href='#restaurant_info') Get Started
		// END slider
	section#restaurant_info.section.bg-light.py-5.bottom-slant-gray
		.container
			.row
				.col-lg-6.mx-auto
					form#update_business(action='/admin/update/#{result.magic_link}', method='post')
						input(type='hidden' name='magic_link' value=result.magic_link)
						.form-group
							label(for='delivery_ind') Are you open for business at this time?
							select#open_for_business.form-control(name='open_for_business_ind' style='height: unset;')
								option(value='1' selected=(result.open_for_business_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.open_for_business_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='email') Email
							input#email.form-control(type='email' value='#{result.email}' name='email' required)
						.form-group
							label(for='name') Business Name
							input#name.form-control(type='text' name='name' value='#{result.name}' required)
						.form-group
							label(for='address') Street Address
							input#address.form-control(type='text' name='address' value='#{result.address}' required)
						.form-group
							label(for='city') City
							input#city.form-control(type='text' name='city' value='#{result.city}' required)
						.form-group
							label(for='phone_number') Phone Number
							input#phone_number.form-control(type='tel' name='phone_number' value='#{result.phone_number}' required)
						.form-group
							label(for='website_link') Website Link (please include http or https at the beginning as appropriate)
							input#website_link.form-control(type='text' name='website_link' value='#{result.website_link}')
						.form-group
							label(for='facebook_link') Facebook Link (please include http or https at the beginning as appropriate)
							input#facebook_link.form-control(type='text' name='facebook_link' value='#{result.facebook_link}')
						.form-group
							label(for='online_order_link') Online Ordering Link (please include http or https at the beginning as appropriate)
							input#online_order_link.form-control(type='text' name='online_order_link' value='#{result.online_order_link}')
						.form-group
							label(for='menu_link') Menu Link (please include http or https at the beginning as appropriate)
							input#menu_link.form-control(type='text' name='menu_link' value='#{result.menu_link}')
						.form-group
							label(for='special_promotions') Please list out any special promotions you have going
							textarea#special_promotions.form-control(type='text' name='special_promotions')
								| !{result.special_promotions}
						.form-group
							label(for='delivery_ind') Do you deliver through your business? (Not third party i.e. Uber Eats, etc.)
							select#delivery_ind.form-control(name='delivery_ind' style='height: unset;')
								option(value='1' selected=(result.delivery_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.delivery_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='breakfast_ind') Do you serve food during breakfast hours?
							select#breakfast_ind.form-control(name='breakfast_ind' style='height: unset;')
								option(value='1' selected=(result.breakfast_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.breakfast_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='lunch_ind') Do you serve food during lunch hours?
							select#lunch_ind.form-control(name='lunch_ind' style='height: unset;')
								option(value='1' selected=(result.lunch_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.lunch_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='dinner_ind') Do you serve food during dinner hours?
							select#dinner_ind.form-control(name='dinner_ind' style='height: unset;')
								option(value='1' selected=(result.dinner_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.dinner_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='late_ind') Do you serve food during late night hours?
							select#late_ind.form-control(name='late_ind' style='height: unset;')
								option(value='1' selected=(result.late_ind==1 ? 'selected' : null))
									| Yes
								option(value='0' selected=(result.late_ind==0 ? 'selected' : null))
									| No
						.form-group
							label(for='mon_start') Monday Hours
							.row
								.col-5
									#mon_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#mon_start', name='mon_start' value='#{result.mon_start}')
										.input-group-append(data-target='#mon_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#mon_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#mon_end', name='mon_end' value='#{result.mon_end}')
										.input-group-append(data-target='#mon_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='tue_start') Tuesday Hours
							.row
								.col-5
									#tue_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#tue_start', name='tue_start' value='#{result.tue_start}')
										.input-group-append(data-target='#tue_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#tue_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#tue_end', name='tue_end' value='#{result.tue_end}')
										.input-group-append(data-target='#tue_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='wed_start') Wednesday Hours
							.row
								.col-5
									#wed_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#wed_start', name='wed_start' value='#{result.wed_start}')
										.input-group-append(data-target='#wed_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#wed_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#wed_end', name='wed_end' value='#{result.wed_end}')
										.input-group-append(data-target='#wed_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='thu_start') Thursday Hours
							.row
								.col-5
									#thu_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#thu_start', name='thu_start' value='#{result.thu_start}')
										.input-group-append(data-target='#thu_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#thu_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#thu_end', name='thu_end' value='#{result.thu_end}')
										.input-group-append(data-target='#thu_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='fri_start') Friday Hours
							.row
								.col-5
									#fri_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#fri_start', name='fri_start' value='#{result.fri_start}')
										.input-group-append(data-target='#fri_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#fri_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#fri_end', name='fri_end' value='#{result.fri_end}')
										.input-group-append(data-target='#fri_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='sat_start') Saturday Hours
							.row
								.col-5
									#sat_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#sat_start', name='sat_start' value='#{result.sat_start}')
										.input-group-append(data-target='#sat_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#sat_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#sat_end', name='sat_end' value='#{result.sat_end}')
										.input-group-append(data-target='#sat_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label(for='sun_start') Sunday Hours
							.row
								.col-5
									#sun_start.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#sun_start', name='sun_start' value='#{result.sun_start}')
										.input-group-append(data-target='#sun_start', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
								.col-2(style='display: flex; justify-content: center; align-items: center;')
									| To:
								.col-5
									#sun_end.input-group.date.hours_input(data-target-input='nearest')
										input.form-control.datetimepicker-input(type='text', data-target='#sun_end', name='sun_end' value='#{result.sun_end}')
										.input-group-append(data-target='#sun_end', data-toggle='datetimepicker' style='width: 50px; background-color: #e9ecef; border: 1px solid #ced4da;')
											.input-group-text(style='height: 100%; display: flex; justify-content: center; align-items: center;')
												i.fa.fa-clock-o
						.form-group
							label Please select any third party delivery service we can find you on:
							each item in third_party
								.col-md-6.btn-group.btn-group-toggle(data-toggle='buttons')
									label.halp.btn.btn-primary(style='width: 100%;' class=(result[item.ind] == 1 ? 'active' : null))
										input(type='hidden' name=item.ind value=(result[item.ind] == 1 ? 1 : 0))
										input(type='checkbox' checked=(result[item.ind] == 1 ? true : null))
										| !{item.name}
						.form-group
							label Please select any types of foods that you serve:
							each item in cuisine
								.col-md-6.btn-group.btn-group-toggle(data-toggle='buttons')
									label.halp.btn.btn-primary(style='width: 100%;' class=(result[item.ind] == 1 ? 'active' : null))
										input(type='hidden' name=item.ind value=(result[item.ind] == 1 ? 1 : 0))
										input(type='checkbox' checked=(result[item.ind] == 1 ? true : null))
										| !{item.name}
						.form-group
							label Please select any types of beverages that you serve:
							each item in beverage
								.col-md-6.btn-group.btn-group-toggle(data-toggle='buttons')
									label.halp.btn.btn-primary(style='width: 100%;' class=(result[item.ind] == 1 ? 'active' : null))
										input(type='hidden' name=item.ind value=(result[item.ind] == 1 ? 1 : 0))
										input(type='checkbox' checked=(result[item.ind] == 1 ? true : null))
										| !{item.name}
						.form-group
							label Please select any types of food you may serve that meet particular dietary needs:
							each item in diet
								.col-md-6.btn-group.btn-group-toggle(data-toggle='buttons')
									label.halp.btn.btn-primary(style='width: 100%;' class=(result[item.ind] == 1 ? 'active' : null))
										input(type='hidden' name=item.ind value=(result[item.ind] == 1 ? 1 : 0))
										input(type='checkbox' checked=(result[item.ind] == 1 ? true : null))
										| !{item.name}
						.form-group
							input.btn.btn-secondary#please(type='submit', value='Update' style='width: 100%; cursor: pointer;')

					script(src='/js/jquery-3.2.1.min.js')
					script(src='/js/popper.min.js')
					script(src='/js/bootstrap.min.js')
					script(src='/js/owl.carousel.min.js')
					script(src='/js/jquery.waypoints.min.js')
					script(src='/js/aos.js')
					script(src='/js/jquery.magnific-popup.min.js')
					script(src='/js/magnific-popup-options.js')
					script(src='/js/main.js')
					script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
					script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js")
					script.
						$('a[href^="#"]').on('click', function(event) {
							var target = $(this.getAttribute('href'));
							if( target.length ) {
								event.preventDefault();
								$('html, body').stop().animate({
									scrollTop: target.offset().top
								}, 1000);
							}
						});

						$('.hours_input').datetimepicker({
							format: 'LT'
						});

						$("input[name='phone_number']").keyup(function() {
						    $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1) $2-$3"));
						});

						$(document).ready(function() {
							// on form submit

							$('.halp').on('click', function() {
								if($(this).children().first().val() == 1) {
									$(this).children().first().val(0);
								} else {
									$(this).children().first().val(1);
								}
							});
						})