doctype html
html
	head
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-162633983-1');
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800', rel='stylesheet')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/animate.css')
		link(rel='stylesheet', href='/css/owl.carousel.min.css')
		link(rel='stylesheet', href='/css/aos.css')
		link(rel='stylesheet', href='/css/magnific-popup.css')
		link(rel='stylesheet', href='/fonts/ionicons/css/ionicons.min.css')
		link(rel='stylesheet', href='/fonts/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/fonts/flaticon/font/flaticon.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css")
		// Theme Style
		link(rel='stylesheet', href='/css/style.css')
		block scripts

	body
		header(role='banner' style='background-color: #162a3d;')
			nav.navbar.navbar-expand-md.navbar-dark.bg-dark
				.container
					a.navbar-brand(href='/')
						img(src='/img/logo_h_nobg.png' style="max-width: 150px;")
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample05', aria-controls='navbarsExample05', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarsExample05.collapse.navbar-collapse
						ul.navbar-nav.ml-auto
							li.nav-item
								a.nav-link(href='/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/approvals') Approve Businesses
						// ul.navbar-nav.ml-auto
						// 	li.nav-item.dropdown
						// 		a.nav-link.dropdown-toggle#itemsdropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true') Add Items
						// 		.dropdown-menu(aria-labelledby='itemsdropdown')
						// 			a.dropdown-item(href='/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/add_cuisine') Add Cuisine
						// 			a.dropdown-item(href='/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/add_beverage') Add Beverage
						// 			a.dropdown-item(href='/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/add_delivery') Add Delivery
						// 			a.dropdown-item(href='/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/add_diet') Add Add Diet
						ul.navbar-nav.ml-auto
							li.nav-item
								a.nav-link(href='/contact') Contact Us
		block content