extends layout
block scripts
	script(src='https://www.google.com/recaptcha/api.js' async defer)
block content
	.slider-wrap
		section.home-slider.owl-carousel
			.slider-item(style="background-image: url('/img/og_bg.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12
							h1(data-aos='fade-up') Need some help?
							p.mb-5(data-aos='fade-up', data-aos-delay='100') Shoot us an email below. 
							p(data-aos='fade-up', data-aos-delay='200')
								a.btn.btn-white.btn-outline-white(href='#new_business') Let's Go!
	section.section.bg-light.py-5.bottom-slant-gray#contact_form
		.container
			.row
				.col-lg-6
					form(action='/contact', method='post')
						.row
							.col-md-6.form-group
								label(for='name') Name
								input#name.form-control(value=(info.name == "" ? "" : info.name) name='name' type='text' required)
							.col-md-6.form-group
								label(for='phone') Phone (optional)
								input#phone.form-control(value=(info.phone == "" ? "" : info.phone) name='phone' type='text')
						.row
							.col-md-12.form-group
						.row
							.col-md-12.form-group
								label(for='email') Email
								input#email.form-control(value=(info.email == "" ? "" : info.email) name='email' type='email' required)
						.row
							.col-md-12.form-group
								label(for='message') Write Message
								textarea#message.form-control(name='message', cols='30', rows='8' required)=(info.message == "" ? "" : info.message)
						if(message.length > 0)
							.row
								.col-md-12.form-group
									div.text-center(class='alert alert-success' style='margin-top: 10px;') #{message}
						.row(style='padding-left: 15px;')
							.form-group
								div.text-center(class="g-recaptcha" data-sitekey="6LfjTuUUAAAAANdPBr_6d3SYCuqRmwvSQtrBBBkh")
						.row
							.col-md-6.form-group
								input.btn.btn-primary(type='submit', value='Send Message')
				.col-lg-6.pl-2.pl-lg-5
					.col-md-8.mx-auto.contact-form-contact-info
						h3.mb-5(style='font-weight: bold;') We're here to help!
						p
							span
								| Is the type of food you serve missing?  A delivery type?  Something just super broken?
						p
							span
								| Shoot a message, we'll try to get back in touch soon!

	footer.site-footer(role='contentinfo')
		.container-md-5
			.row
				.col-12.text-md-center.text-left
					p
						| Copyright © Eat Kzoo 
						script.
							document.write(new Date().getFullYear());
						|  All rights reserved 
						// END footer
					#loader.show.fullscreen
						svg.circular(width='48px', height='48px')
							circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
							circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#cf1d16')
					script(src='/js/jquery-3.2.1.min.js')
					script(src='/js/popper.min.js')
					script(src='/js/bootstrap.min.js')
					script(src='/js/owl.carousel.min.js')
					script(src='/js/jquery.waypoints.min.js')
					script(src='/js/aos.js')
					script(src='/js/jquery.magnific-popup.min.js')
					script(src='/js/magnific-popup-options.js')
					script(src='/js/main.js')
					script.
						$('a[href^="#"]').on('click', function(event) {
							var target = $(this.getAttribute('href'));
							if( target.length ) {
								event.preventDefault();
								$('html, body').stop().animate({
									scrollTop: target.offset().top
								}, 1000);
							}
						});