extends layout
block scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
	script(src='https://www.google.com/recaptcha/api.js' async defer)
block content
	// END header
	.slider-wrap
		section.home-slider.owl-carousel
			.slider-item(style="background-image: url('/img/og_bg.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12
							h1(data-aos='fade-up') Restaurant Owner?
							p.mb-5(data-aos='fade-up', data-aos-delay='100') Add your business to the growing list. 
							p.scrolll(data-aos='fade-up', data-aos-delay='200')
								a.btn.btn-white.btn-outline-white(href='#new_business') Let's Go!
			.slider-item(style="background-image: url('/img/og_bg.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12
							h1(data-aos='fade-up') Eat Local
							p.mb-5(data-aos='fade-up', data-aos-delay='100') Search below for your next amazing meal.
							p.scrolll(data-aos='fade-up', data-aos-delay='200')
								a.btn.btn-white.btn-outline-white(href='#find_food') I'm Hungry!
		// END slider
	section.section.bg-light.py-5.bottom-slant-gray
		.container
			.row.mb-5.justify-content-center(data-aos='fade')
				.col-md-7.text-center.heading-wrap
					h2
						| Search for a restaurant you already love!
					p
						| See what your favorite restaurant has going on, or search for some food items.  Try "pizza", "sandwiches", etc.
					.row.align-items-center
						.col-md-8.mb-3.mb-md-0
							input.typeahead.form-control#typeahead_input(style='min-width: 100% !important;' spellcheck="false" autocomplete="off" type='text', placeholder="I'm looking for...")
							input#hid_type_in(type="hidden")
						.col-md-4
							button.btn.btn-primary.btn-block#r_search_btn(style="color: #162a3d; border-radius: 10px !important; cursor: pointer;") Go!
				.col-md-7.text-center.heading-wrap
	section#find_food.section
		.container
			.row.mb-5.justify-content-center(data-aos='fade')
				.col-md-7.text-center.heading-wrap
					h2(data-aos='fade-up') Find what your heart (stomach) desires
					p(data-aos='fade-up', data-aos-delay='100' style='color: white;')
						| Use the filters below to find your next meal!
				.col-md-12.text-center
					form#findfood(method='post' action='/r_search')
						.container
							.row.button_row
								.col-lg-6.button_col
									h3(style='font-weight: bold; margin-bottom: 20px;') 
										| Mealtime...
									each item in times
										.col-lg-6.btn-group.btn-group-toggle(data-toggle='buttons')
											label.btn.btn-primary.btn-custom(style=' border-radius: 10px !important; width: 100%; cursor: pointer;')
												input(type='checkbox' name='#{item.ind}' value=1)
												| !{item.name}
								.col-lg-6.button_col
									h3(style='font-weight: bold; margin-bottom: 20px;') 
										| I'm craving...
									each item in cuisine
										.col-lg-6.btn-group.btn-group-toggle(data-toggle='buttons')
											label.btn.btn-primary.btn-custom(style='border-radius: 10px !important; width: 100%; cursor: pointer;')
												input(type='checkbox' name='#{item.ind}' value=1)
												| !{item.name}
							.row.button_col(style='margin-top: 50px;')
								.col-lg-6.button_row
									h3(style='font-weight: bold; margin-bottom: 20px;') 
										| What to drink...
									each item in beverage
										.col-lg-6.btn-group.btn-group-toggle(data-toggle='buttons')
											label.btn.btn-primary.btn-custom(style='border-radius: 10px !important; width: 100%; cursor: pointer;')
												input(type='checkbox' name='#{item.ind}' value=1)
												| !{item.name}
								.col-lg-6.button_col
									h3(style='font-weight: bold; margin-bottom: 20px;') 
										| Dietary needs...
									each item in diet
										.col-lg-6.btn-group.btn-group-toggle(data-toggle='buttons')
											label.btn.btn-primary.btn-custom(style='border-radius: 10px !important; width: 100%; cursor: pointer;')
												input(type='checkbox' name='#{item.ind}' value=1)
												| !{item.name}
							.row(style='margin-top: 3rem;')
								.col-lg-4.mx-auto
									button.btn.btn-primary(type='submit' style='background-color: #162a3d; color: #74dff6; border-radius: 10px !important; width: 100%; cursor: pointer;') Find my food!
	section.bg-light.py-5.bottom-slant-gray#foodreturnsection(style='display: none; z-index: 9999;')
		.container#foodreturn(style='margin-top: 100px;')
	section#new_business.section.bottom-slant-gray
		.container
			.row
				.col-md-6.mx-auto.text-center.heading-wrap(style='color: white;')
					h2
						| Add my business
					p
						| Are you a business owner who wants their information available on the website?  Enter your email address below and you&apos;ll be sent a &quot;magic link&quot;.
						| Using the link, you'll be able to self manage all the information about your business and have it instantly reflected on the website!  No fuss.
			.row(style='margin-top: 30px;')
				.col-md-6.mx-auto
					form.text-center(method='post' action='/new')
						.form-group.text-center
							if(message.length > 0)
								div.text-center(class='alert alert-success' style='margin-top: 10px;') #{message}
							label.font-weight-bold(for='new_email' style='color: white;') What's your email?
							input.form-control#new_email(type='email' name='new_email' value=(info.new_email == "" ? "" : info.new_email) required)
						if(err_message.length > 0)
							.form-group
								div.text-center(class='alert alert-success' style='margin-top: 10px;') #{err_message}
						.form-group
							div.text-center(class="g-recaptcha" data-sitekey="6LfjTuUUAAAAANdPBr_6d3SYCuqRmwvSQtrBBBkh")
						button.btn.btn-primary(type='submit' style='color: #162a3d; border-radius: 10px !important; width: 100%; cursor: pointer;') Send my link!
	// .section
	footer.site-footer(role='contentinfo')
		.container
			.row
				.col-12.text-md-center.text-center
					p
						| Copyright © Kalamazoo Menu 
						script.
							document.write(new Date().getFullYear());
						|  All rights reserved 
						// END footer
						// loader
						#loader.show.fullscreen
							svg.circular(width='48px', height='48px')
								circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
								circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#cf1d16')
						script(src='/js/jquery-3.2.1.min.js')
						script(src='/js/popper.min.js')
						script(src='/js/bootstrap.min.js')
						script(src='/js/owl.carousel.min.js')
						script(src='/js/jquery.waypoints.min.js')
						script(src='/js/aos.js')
						script(src='/js/jquery.magnific-popup.min.js')
						script(src='/js/magnific-popup-options.js')
						script(src='/js/main.js')
						script(src='/js/typeahead.bundle.js' type='text/javascript')
						script(src='/js/include.js')
