doctype html
html
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-162633983-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-162633983-1');
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800', rel='stylesheet')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/animate.css')
		link(rel='stylesheet', href='/css/owl.carousel.min.css')
		link(rel='stylesheet', href='/css/aos.css')
		link(rel='stylesheet', href='/css/magnific-popup.css')
		link(rel='stylesheet', href='/fonts/ionicons/css/ionicons.min.css')
		link(rel='stylesheet', href='/fonts/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/fonts/flaticon/font/flaticon.css')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css")
		// Theme Style
		link(rel='stylesheet', href='/css/style.css')
		block scripts

	body
		header(role='banner' style='background-color: #162a3d;')
			nav.navbar.navbar-expand-md.navbar-dark.bg-dark
				.container
					a.navbar-brand(href='/')
						img(src='/img/logo_h_nobg.png' style="max-width: 150px;" alt="Kalamazoo Menu Logo - Ying Yang plate with flatware")
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample05', aria-controls='navbarsExample05', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarsExample05.collapse.navbar-collapse
						if(title != 'Admin')
							ul.navbar-nav.ml-auto
								li.nav-item
									a.nav-link#add_business(style='font-size: 22px; font-weight: bold;' href='/#new_business') Add Your Business
						ul.navbar-nav.ml-auto
							li.nav-item
								a.nav-link(href='/contact') Contact Us
		block content