extends layout

block content
	.container
		.row
			.col
				h2
					| Grub!
		.row
			.col-12
				p
					| Please help us compile a thorough list of establishments that are open for takeout or delivery service during the COVID-19 shutdowns!

				p
					| Please submit your email address below and a magic link will be emailed to you.  You can use this link to submit and edit information about your business!

				p 
					| Thank you, and we wish you all the best during this difficult time!

		.row
			.col-6
				form(method='post' action='/new')
					.form-group
						label(for='email_address') Email Address
						input#email_address.form-control(type='email')

					button.btn.btn-primary(type='submit') Submit