extends admin_layout
block scripts
	script(src='https://www.google.com/recaptcha/api.js' async defer)
block content
	.slider-wrap
		section.home-slider.owl-carousel
			.slider-item(style="background-image: url('/img/og_bg.jpg');")
				.container
					.row.slider-text.align-items-center.justify-content-center
						.col-md-8.text-center.col-sm-12
							h1(data-aos='fade-up') Site Admin
	section.section.bg-light.py-5.bottom-slant-gray
		.container
			.row
				.col-lg-6.mx-auto
					each item in restaurants
						h3(style='font-weight: bold;')
							| !{item.name}
						p
							span(style='font-weight: bold;') Address: 
							span !{item.address}
							br
							span(style='font-weight: bold;') City: 
							span !{item.city}
							br
							span(style='font-weight: bold;') Phone: 
							span !{item.phone_number}
							br
							span(style='font-weight: bold;') Email: 
							span !{item.email}
						.form-group(style='margin-bottom: 60px;')
							label(for='#item.id' style='font-weight: bold;') Verified?
							select.form-control.approve_select(id='#{item.id}' style='height: unset;')
								option(value=0 selected=(item.approved_ind==0 ? 'selected' : null)) No
								option(value=1 selected=(item.approved_ind==1 ? 'selected' : null)) Yes

	footer.site-footer(role='contentinfo')
		.container-md-5
			.row
				.col-12.text-md-center.text-left
					p
						// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
						| Copyright ©
						script.
							document.write(new Date().getFullYear());
						|  All rights reserved | This template is made with 
						i.fa.fa-heart.text-danger(aria-hidden='true')
						|  by 
						a(href='https://colorlib.com', target='_blank') Colorlib
						// Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
						// END footer
						// loader
					#loader.show.fullscreen
						svg.circular(width='48px', height='48px')
							circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
							circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#cf1d16')
					script(src='/js/jquery-3.2.1.min.js')
					script(src='/js/popper.min.js')
					script(src='/js/bootstrap.min.js')
					script(src='/js/owl.carousel.min.js')
					script(src='/js/jquery.waypoints.min.js')
					script(src='/js/aos.js')
					script(src='/js/jquery.magnific-popup.min.js')
					script(src='/js/magnific-popup-options.js')
					script(src='/js/main.js')
					script.
						$('a[href^="#"]').on('click', function(event) {
							var target = $(this.getAttribute('href'));
							if( target.length ) {
								event.preventDefault();
								$('html, body').stop().animate({
									scrollTop: target.offset().top
								}, 1000);
							}
						});

						$('.approve_select').on('change', function() {
							$.ajax({
								type: 'POST',
								url: '/QVuxHalzmXJN17xQxygEpiOF2QKoWREpji1gcUlAejyKsNfpmXzBPQKxCipFYpU4Md23DGjKkrVXqp4SjQKFwJtoN7wQmvCvEVcmX81osK7tO1DOOqOb4QRElYVfZUzpw0VyQWIbv1v2UzToNCO8HdHH/approvals',
								data: JSON.stringify({'id': $(this).attr('id'), 'val': $(this).val()}),
								//data: {'id': $(this).id, 'val': $(this).val()},
								cache: false,
								processData: false,
								contentType: 'application/json'
							});
						});